<!DOCTYPE html>
<html>
<head>
  <title>Stockoverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'photos', photos_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
    </ul>

<%= yield %>

</body>
</html>
