<!DOCTYPE html>
<html>
<head>
  <title>Stockoverflow</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Magra' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div id="header">

      <div id="title">
        <h1>
          <%= link_to 'stock', root_path%><a class="bold">overflow</a>
        </h1>
      </div>

      <div id="links">
        <a href="#"><div class="button">Signup</div></a>
        <a href="#"><div class="button">Login</div></a>
        <a href="albums#index"><div class="button">Albums</div></a>
        <a href="photos/new"><div class="button" id="upbut">Upload</div></a> 
      </div>
    
    </div>
  </header>

  <div id="page-wrap">

    <div id="centre">
      <%= yield %>
    </div>

  </div>

</body>
</html>
