<!DOCTYPE html>
<html>
<head>
  <title>Stockoverflow</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Magra' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script>
  $(function(){
 
    var container = document.querySelector('#container');
    var msnry = new Masonry( container, {
      // options
      // columnWidth: 200,
      itemSelector: '.item'
    });
   
  });
</script>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
