

<p>
  <b>Image:</b>
  <%= image_tag @photo.image.detail.url %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Tags:</b>
  <%= raw @photo.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<p>
  <b>Rating:</b>
  <%= @photo.rating %>
</p>

<p>
  <b>Votes: <%= @photo.plusminus %><span id="notice"> - <%= notice %></span></br>
  <%= link_to(image_tag("up24.png"), vote_up_photo_path(@photo), :alt => "Up Arrow", :id => "up_arrow", :method => :post) %><br>
  <%= link_to(image_tag("down32.png"), vote_down_photo_path(@photo), :alt => "Down Arrow", :id => "down_arrow", :method => :post) %><br>
  <%= button_to('Remove my vote or dislike', remove_vote_photo_path(@photo), :method => :post) %><br>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="stock_overflow_twitter_account" data-lang="en">Tweet</a><p>
  <b>Flag:</b>
  <%= @photo.flag %>
</p>

<p>
  <b>Question:</b>
  <%= @photo.question %>
</p>

<p>
  <b>Album:</b>
  <%= @photo.album_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>


<h3>Answers: </h3>
<% @photo.answers.each do |answer| %>
  <div class='answer'>
    <ul>
      <li>A: <%= answer.content %></li>
      <li>User: <%= answer.user.email %></li>
      <li><%= link_to 'Edit', edit_answer_path(answer) %></li> 
      <li><%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' } %></li>     
    </ul>
  </div>
  <% end %>

  <h3>Provide an answer:<h3>

<% if current_user %>
<%= form_for @answer do |f| %>
  <%= f.hidden_field :photo_id %>

  <%= f.hidden_field :user_id %> 

  <%= f.text_field :content %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
<% end %>







<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
