<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @photo.image.detail.url %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Tags:</b>
  <%= raw @photo.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<p>
  <b>Rating:</b>
  <%= @photo.rating %>
</p>

<p>
  <b>Votes: <%= @photo.plusminus %><span id="notice"> - <%= notice %></span></br>
  <%= button_to('Vote for this photo', vote_up_photo_path(@photo), :method => :post) %><br>
  <%= button_to('Down vote this photo', vote_down_photo_path(@photo), :method => :post) %><br>
  <%= button_to('Remove my vote or dislike', remove_vote_photo_path(@photo), :method => :post) %><br>
</p>

<p>
  <b>Flag:</b>
  <%= @photo.flag %>
</p>

<p>
  <b>Question:</b>
  <%= @photo.question %>
</p>

<p>
  <b>Album:</b>
  <%= @photo.album_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
