.page-wrap
  #userprofile
    %h2 
      User Profile
    .overview
      .userimage
        = image_tag current_user.image
      .userdetails
        %h1
          = current_user.name
        %h3
          = current_user.email
        %h3
          %br
          %br
          %br
          %br
          %br
          Joined:
          = current_user.created_at.strftime("%d/%m/%Y %H:%M")
        %h3
          Last Login:
          = current_user.last_sign_in_at.strftime("%d/%m/%Y %H:%M")

    / .overview
    /   %h2
    /     / = current_user.photos.image.first
    /     = for current_user.photos each do |photo|
    /       .item
    /         .blurtop
    /           = image_tag photo.image 

    /         .question
              
    /           %p 
    /             = truncate photo.question, length: 300

    /         = link_to image_tag(photo.image), photo
            
    /         .photo_title
    /           %h2
    /             = link_to photo.title, photo
    
    / = render 'userphotos'